@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

*::selection {
    background: $brand-blue;
    color: $text-primary;
}

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6vh;
    user-select: none;
}

.voting-wrapper {
    display: none;
    place-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: transparent;
    color: $text-primary;
    overflow: hidden;

    .voting-card {
        @include flex(column, flex-start, center);
        width: 64vw;
        height: 72vh;
        border-radius: 0.6vh;
        background: $bg-secondary;
        box-shadow: 0 0.4vh 3.5vh rgba(0, 0, 0, .1);

        .voting-nav {
            height: fit-content;
            width: 100%;
            border-radius: 0.6vh 0.6vh 0 0;
            background: $bg-primary;

            .tools {
                @include flex(row, flex-start, center);
                padding: 0.5vh 0.8vh;

                .circle {
                    padding: 0 0.4vh;

                    .box {
                        display: inline-block;
                        align-items: center;
                        width: 1.1vh;
                        height: 1.1vh;
                        padding: 0.1vh;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    .red {
                        background-color: #ff605c;
                    }

                    .yellow {
                        background-color: #ffbd44;
                    }

                    .green {
                        background-color: #00ca4e;
                    }
                }
            }
        }

        .voting-body {
            @include flex(column, flex-start, center);
            height: 100%;
            width: 100%;
            padding: 2vh;

            .voting-header {
                @include flex(column, flex-start, center);
                width: 100%;
                height: fit-content;
                letter-spacing: 0.06vh;

                .voting-logo {
                    @include image(5vh, 5vh, contain);
                    margin-right: 1.2vh;
                }

                .voting-title {
                    @include text(2.4vh, 600, $text-primary);
                }

                .voting-subtitle {
                    margin-top: 1.2vh;
                    font-style: italic;
                    @include text(1.6vh, 400, $text-secondary);
                }
            }

            #candidates-list {
                @include flex(row, center, center);
                flex-wrap: wrap;
                gap: 3vh;
                width: 90%;
                height: 53.5vh;
                overflow-x: hidden;
                overflow-y: auto;
                margin-top: 2vh;

                &::-webkit-scrollbar {
                    width: 0.4vh;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    border-radius: 50px;
                    background-color: transparent;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    border-radius: 50px;
                    background-color: rgb(75 85 99);
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background-color: rgb(107 114 128);
                }

                .candidate-card {
                    @include flex(column, center, center);
                    width: 28vh;
                    height: 34vh;
                    border-radius: 0.8vh;
                    background: $bg-primary;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    border: solid 0.3vh transparent;
                    letter-spacing: 0.06vh;

                    &:hover {
                        border: solid 0.3vh $border-secondary;
                    }

                    .candidate-logo {
                        @include image(80%, 80%, contain);
                    }

                    .candidate-name {
                        @include text(2vh, 600, $text-primary);
                        text-align: center;
                        text-transform: capitalize;
                    }

                    .candidate-party {
                        margin-top: 1vh;
                        @include text(1.6vh, 400, $text-secondary);
                        text-align: center;
                        text-transform: capitalize;
                    }
                }

                .selected {
                    border: solid 0.3vh $brand-blue;

                    &:hover {
                        border: solid 0.3vh $brand-blue;
                    }
                }
            }

            .voting-cta {
                width: 100%;
                text-align: center;
                margin-top: 1.4vh;

                button {
                    border: none;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                    border-radius: 0.3vh;
                    letter-spacing: 0.06vh;
                }

                .close-btn {
                    @include text(1.6vh, 600, $text-primary);
                    background: $bg-tertiary;
                    padding: 0.3vh 3vh;
                    margin-right: 2vh;
                }

                .submit-btn {
                    @include text(1.6vh, 600, $text-primary);
                    background: $gradient-blue;
                    padding: 0.3vh 1.85vh;
                }
            }
        }
    }
}